.top-nav {
    background: #7950DA;
    
}
.top-nav a {
    color: #FFF;
}

.logo-img{
    max-width: 20%;
}

img.cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* navbar styles */

.nav-link:hover, .nav-link:focus{
    color: #FFF !important;
    text-transform: uppercase;
}